[submodule "emacs.d/manually/column-enforce-mode"]
	path = emacs.d/manually/column-enforce-mode
	url = https://github.com/jordonbiondo/column-enforce-mode.git
[submodule "emacs.d/manually/js3-mode"]
	path = emacs.d/manually/js3-mode
	url = https://github.com/thomblake/js3-mode.git
